/* Imports */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Lora:400,700|Work+Sans');


/* Adjustments & Corrections */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    line-height: 1.15;
    /* 1 */
}

main {
    padding: 0 1em;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}


header {
    width: 100%;
    padding: 2em 1em;
    background: #000;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}


hr {
    border: none;
    border-top: 6px solid #000;
    border-bottom: 3px solid #000;
    padding-top: .3em;
    width: 100%;
}

#newsletter {
    padding: 4em 1em;
}

#newsletter h2 {
    font-family: 'Lora', serif;
    font-size: 2em;
    text-align: center;
    text-transform: capitalize
}

#newsletter p {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    margin: 0 2em;
    color: hsl(0 1% 40%);
}

button {
    border: none;
    font-family: 'Lora', serif;
    padding: .5em;
    font-size: 2em;
    background: tomato;
    border-radius: .5em;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

legend {
    flex: 1 0 100%;
    padding-top: 1em;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.8em;
    font-weight: 700;
    color: hsl(0 1% 20%);
}

fieldset {
    margin: 0;
    padding: 1em 0em;
    border: none;
    width: 100%;
}

fieldset:not(:last-of-type) {
    margin-bottom: 1em;
    border-bottom: solid 2px;
}

#fieldContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#fieldContainer label,
#fieldContainerTwo label,
#fieldContainer select,
#fieldContainer input:not(#zip),
#fieldContainerTwo .news-group {
    flex: 1 0 100%;
}

#fieldContainerTwo .news-group,
#fieldContainerTwo textarea {
    margin: 1.5em 0;
}

.news-group:not(:first-of-type) {
    margin-top: .5em;

}

label {
    font-family: 'Work Sans', sans-serif;
    color: hsl(0 1% 50%);
    font-size: 1.4em;
    margin: .5em 0 .5em 0;
}


select,
input:not([type="checkbox"]):not([type="radio"]) {
    height: 2em;
    border-radius: .5em;
    border: none;
    background-color: hsl(0 1% 95%);
    padding: .5em;

    font-size: 1.5em;
    color: hsl(0 1% 25%);
}

input:not([type="checkbox"]):not([type="radio"]):focus {
    outline: none !important;
    border-color: blue;
    box-shadow: 0 0 10px blue;
}

input[type="radio"],
input[type="checkbox"],
input[type="radio"] + label,
input[type="checkbox"] + label {
    vertical-align: middle;
    margin: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.2);
}

input::placeholder {
    text-align: right;
    color: hsl(0 1% 70%);
    font-size: .7em;
    font-style: italic;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 30px) calc(.87em),
        calc(100% - 20.5px) calc(.87em),
        calc(100% - 2.5em) 0.2em;
    background-size:
        10px 10px,
        10px 10px,
        2px 1.5em;
    background-repeat: no-repeat;

}

textarea {
    width: 100%;
    border-radius: .5em;
    border: none;
    background-color: hsl(0 1% 95%);
    padding: .5em;

    font-size: 1.5em;
    color: hsl(0 1% 25%);
}

textarea:focus {
    outline: none !important;
    border-color: blue;
    box-shadow: 0 0 10px blue;
}

footer {
    margin-top: 2em;
    padding: 1em;
    height: 15em;
}

footer p {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    margin: 0 2em;
    color: hsl(0 1% 30%);
}


/* Media Queries */

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #fieldContainer > label {
        padding-top: 0.5em;
        flex: 0 0 30%;
    }

    #fieldContainer select,
    #fieldContainer input:not(#zip):not([type="checkbox"]):not([type="radio"]) {
        flex: 1 0 60%;
        margin: .5em 0 .5em .5em;
    }

    #zip {
        margin: .5em 0 .5em .5em;
    }

}
